version: "3"

networks:
  homelab:
    external: true

services:

  proxy:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: proxy
    environment:
      - PUID=$PUID
      - PGID=$PGID
    networks:
      - homelab
    volumes:
      - $VOL_DATA/proxy/data:/data
      - $VOL_DATA/proxy/letsencrypt:/etc/letsencrypt
    ports:
      - '80:80'
      - '443:443'
    extra_hosts:
      - "nas.homelab:$NAS_IP"
      - "minipc.homelab:$MINIPC_IP"
    restart: unless-stopped

  nextcloud-db:
    image: mariadb:10.6
    container_name: db.nextcloud
    environment:
      - PUID=$PUID
      - PGID=$PGID
    networks:
      - homelab
    command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW
    volumes:
      - $VOL_DATA/db.nextcloud:/var/lib/mysql
    environment:
      - MYSQL_RANDOM_ROOT_PASSWORD=1
      - MYSQL_PASSWORD=$NEXTCLOUD_PASSWORD
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
    restart: unless-stopped

  nextcloud:
    image: nextcloud
    container_name: nextcloud
    environment:
      - PUID=$PUID
      - PGID=$PGID
    networks:
      - homelab
    links:
      - nextcloud-db
    volumes:
      - $VOL_DATA/nextcloud:/var/www/html
    environment:
      - MYSQL_PASSWORD=$NEXTCLOUD_PASSWORD
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_HOST=db.nextcloud
    restart: unless-stopped

  transmission:
    image: lscr.io/linuxserver/transmission:latest
    container_name: transmission
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=Europe/Madrid
      - USER=admin
      - PASS=$LOGIN_PASSWORD
      - HOST_WHITELIST=minipc
    networks:
      - homelab
    volumes:
      - $VOL_DATA/transmission/config:/config
      - $VOL_TEMP/bitTorrent:/downloads
      - $VOL_DATA/transmission/watch:/watch
    ports:
      - 51413:51413
      - 51413:51413/udp
    restart: unless-stopped

  heimdall:
    image: lscr.io/linuxserver/heimdall:latest
    container_name: heimdall
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=Europe/Madrid
    volumes:
      - $VOL_DATA/heimdall/config:/config
    networks:
      - homelab
    restart: unless-stopped

  pihole:
    image: pihole/pihole:latest
    container_name: pihole
    hostname: pihole
    environment:
      - TZ='Europe/Madrid'
      - PUID=$PUID
      - PGID=$PGID
      - VIRTUAL_HOST=$PIHOLE_VIRTUAL_HOST
    volumes:
      - $VOL_DATA/pihole/etc-pihole:/etc/pihole
      - $VOL_DATA/pihole/etc-dnsmasq.d:/etc/dnsmasq.d
    ports:
      - "53:53/tcp" # DNS
      - "53:53/udp" # DNS
    networks:
      - homelab
    restart: unless-stopped

  uptime:
    image: louislam/uptime-kuma:1
    container_name: uptime
    hostname: uptime
    environment:
      - PUID=$PUID
      - PGID=$PGID
    volumes:
      - $VOL_DATA/uptime-kuma/data:/app/data
    networks:
      - homelab
    extra_hosts:
      - "pihole.lan:$MINIPC_IP"
    restart: always

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    hostname: watchtower
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - WATCHTOWER_NOTIFICATIONS=email
      - WATCHTOWER_NOTIFICATION_EMAIL_FROM=${GMAIL_USER}
      - WATCHTOWER_NOTIFICATION_EMAIL_TO=${GMAIL_USER}
      - WATCHTOWER_NOTIFICATION_EMAIL_SERVER_USER=${GMAIL_USER}
      - WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PASSWORD=${GMAIL_PASSWORD}
      - WATCHTOWER_NOTIFICATION_EMAIL_SERVER=smtp.gmail.com
      - WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PORT=587
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - homelab
    restart: always

  postgresql:
    image: postgres:10.21
    container_name: postgresql
    hostname: postgresql
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - POSTGRES_PASSWORD=${PORTFOLIO_PASSWORD}
      - POSTGRES_USER=funds
    volumes:
      - $VOL_DATA/postgresql:/var/lib/postgresql/data
    networks:
      - homelab
    restart: always

  portfolio:
    image: macvaz82/portfolio:latest
    container_name: portfolio
    hostname: portfolio
    depends_on:
      - postgresql
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - PROJECT_HOME=/app
    labels:
      - "com.centurylinklabs.watchtower.enable=false"
    volumes:
      - $VOL_DATA/portfolio/portfolio-manager:/app
    networks:
      - homelab
    command: python /app/manage.py runserver 0.0.0.0:8000
    restart: always
